<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<div class="container">
<div class="row">
<body>
<div class="col-md-3">
<%= render 'books/info', user: @user %>
<%= render 'books/list', book: @book %>
</div>



<div class="col-md-8 offset-md-1">
<h1>Books</h1>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion </th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
    <tr>
      <td>
        <%= link_to user_path(book.user) do %>
          <%= image_tag book.user.get_profile_image(40,48) %>
        <%end%>
      </td>
      <td>
        <%= link_to book.title ,book_path(book)%>
      </td>
      <td>
        <%= book.body%>
      </td>
      
			<td>
          <% if book.favorited_by?(current_user) %>
            <%= link_to book_favorites_path(book_id: book.id),class: "like" ,method: :delete do %>
              <i class="fas fa-heart like"></i><%= book.favorites.count%>
            <% end %>
          <% else %>
            <%= link_to book_favorites_path(book_id: book.id), method: :post do %>
              <i class="fas fa-heart unlike"></i><%= book.favorites.count %>
            <% end %>
          <% end %>
      </td>
      <td><p>コメント数：<%= book.book_comments.count %></p></td>
  </tr>
  <% end %>
</tbody>
</table>
<p class="text-center">CopyRight Infratop.inc</p>
</div>
</body>
</div>
</div>